body{
    background-color:aliceblue;
    font-size:18px;
    font-family: arial;
    padding-left:2%;
    color: green;
  
  }
  #desc{
    font-family: Georgia, 'Times New Roman';
    font-style: italic;
  }
  h1{
    color:darkred;
  }
  h2{
    color: darkblue
  }
  h5{
    color:blue;
  }
  /* Three image containers (use 25% for four, and 50% for two, etc) */
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }